<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="test.spring.mapper.BoardMapper">
	<insert id="insert">
		insert into board
		values(board_seq.nextval,#{writer},#{subject},#{email},#{content},#{password},sysdate,'0','0','0','0')
	</insert>

	<select id="boardList"
		resultType="test.spring.component.BoardDTO">
		select * from board order by num desc
	</select>
	<select id="count" resultType="int">
		select count(*) from board
	</select>
	<select id="boardAll"
		resultType="test.spring.component.BoardDTO">
		select * from board
		<where>
			<if test="writer != null">
				writer=#{writer}
			</if>
			<if test="num != null">
				and num=#{num}
			</if>
		</where>
	</select>
	<!-- 게시글 수정 -->
	<update id="update">
		update board
		<set>
			<if test="subject != null">subject=#{subject},</if>
			<if test="content != null">content=#{content}</if>
		</set>
		where num=#{num}
	</update>
	<!-- 조회수 올리기 -->
	<update id="updatereadcnt">
		update board set readcount=readcount+1 where
		num=#{num}
	</update>

	<delete id="delete">
		delete from board where num=#{num} and
		password=#{password}
	</delete>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>

	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard"
		resultType="test.spring.component.BoardDTO">
		SELECT *
		FROM (
		SELECT ROWNUM RN, A.*
		FROM (
		SELECT *
		FROM BOARD
		ORDER BY num DESC
		) A
		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>



</mapper>