<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="test.spring.mapper.ImageBoard1Mapper">

	<select id="boardListCount" resultType="int" >
		select count(*) from imageboard1
	</select>

	<select id="boardList" resultType="test.spring.component.ImageBoard1DTO" parameterType="String" >
		select num, thumbnail, writer, subject, email, content, image, passwd, reg_date, readcount, ip, 
		r from (select num, thumbnail, writer, subject, email, content, image, passwd, reg_date, 
		readcount, ip, rownum r from (select * from imageboard1 order by reg_date desc) order by
		 reg_date desc) where r <![CDATA[>=]]> #{startRow} and r <![CDATA[<=]]> #{endRow}
	</select>
	
	<select id="myBoardListCount" resultType="int" >
		select count(*) from imageboard1 where writer = #{memId}
	</select>

	<select id="myBoardList" resultType="test.spring.component.ImageBoard1DTO" parameterType="String" >
		select num, thumbnail, writer, subject, email, content, image, passwd, reg_date, readcount, ip, 
		r from (select num, thumbnail, writer, subject, email, content, image, passwd, reg_date, 
		readcount, ip, rownum r from (select * from imageboard1 where writer = #{memId} order by reg_date desc) order by
		 reg_date desc) where r <![CDATA[>=]]> #{startRow} and r <![CDATA[<=]]> #{endRow}
	</select>
	
	<select id="memContent" resultType="ImageBoard1DTO" >
		select * from sample where id=#{memId}
		<!-- sample 변경 -->
	</select>
	
	<insert id = "write" parameterType="test.spring.component.ImageBoard1DTO" >
		insert into imageboard1 values (imageboard1_seq.NEXTVAL, #{thumbnail}, #{writer}, #{subject}, #{email}, #{content}, 
		#{image}, #{passwd}, sysdate, #{readcount}, #{ip})
	</insert>
	
	<select id = "numContent" resultType = "test.spring.component.ImageBoard1DTO" >
		select * from imageboard1 where num = #{num}
	</select>
	
	<update id="addReadcount" parameterType="int">
		update imageboard1 set readcount = #{readcount} where num = #{num}
	</update>
	
	<select id="subBoardListCount" resultType="int" >
		select count(*) from subboard1 where boardnum = #{num}
	</select>

	<select id="subBoardList" resultType="test.spring.component.ImageBoard1DTO" >
		select num, writer, content, reg_date, ip, ref, re_step, re_level, r from 
		(select num, writer, content, reg_date, ip, ref, re_step, re_level, rownum r from 
		(select * from (select * from subboard1 where boardnum = #{num}) order by ref desc, re_step asc) order by ref desc, re_step asc ) 
		where r <![CDATA[>=]]> #{startRow} and r <![CDATA[<=]]> #{endRow}
	</select>
	
	<select id="maxNum" resultType="int" >
		select last_number from user_sequences where sequence_name = upper('subboard_seq')
	</select>
	
	<insert id = "subWrite" parameterType="test.spring.component.ImageBoard1DTO" >
		insert into subboard1 values (subboard_seq.NEXTVAL, #{writer}, #{content}, sysdate, 
		#{ip}, #{ref}, #{re_step}, #{re_level}, #{boardnum})
	</insert>
	
	<update id="reUpdate">
		update subboard1 set re_step = re_step + 1 where ref <![CDATA[=]]> #{ref} and re_step <![CDATA[>]]> #{re_step}
	</update>
	
	<select id="boardcontent" resultType="ImageBoard1DTO" >
		select * from subboard1 where num = #{num}
	</select>

</mapper>